<!DOCTYPE HTML>
<html>
<head>
	<!--添加管理员-->
<!--<meta http-equiv="content-type" >-->
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/style.css" />
<script src="js/vue.js" type="text/javascript" charset="UTF-8"></script>
<script src="js/axios.min.js" type="text/javascript" charset="UTF-8"></script>
<script src="js/全局.js" type="text/javascript" charset="UTF-8"></script>
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title> 缴纳水费</title>
<meta name="keywords" content="H-ui.admin v3.1,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v3.1，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。"> 
</head>
<body>
	<div id="dd">
<article class="page-container">
	<!--不知道为什么这页面加form会报错-->
	<!--<form class="form form-horizontal"id="form-water-add" method="post" action="/">-->
		<!--<form class="form form-horizontal"id="form-water-add" >-->
	<div class="row cl">
		<label class="form-label col-xs-3 col-sm-3">业主姓名：</label>
		<div class="formControls col-xs-8 col-sm-5">
			<!--<input type="text" class="input-text" value="" placeholder="" id="adminName" name="adminName">-->
				<input v-model="payName" type="text" class="input-text" >
		</div>
	</div>
	&nbsp;
	<div class="row cl">
		<label class="form-label col-xs-3 col-sm-3">身份证号：</label>
		<div class="formControls col-xs-8 col-sm-5">
			<input v-model="idCard" type="text" class="input-text" >
		</div>
	</div>
	&nbsp;&nbsp;
	<div class="row cl">
		<label class="form-label col-xs-3 col-sm-3">联系方式：</label>
		<div class="formControls col-xs-8 col-sm-5">
			<input v-model="payTel" type="text" class="input-text" >
		</div>
	</div>
	&nbsp;&nbsp;
	<div class="row cl">
		<label class="form-label col-xs-3 col-sm-3">楼号：</label>
		<div class="formControls col-xs-8 col-sm-5">
			<input v-model="payBuildNum" type="text" class="input-text" >
		</div>
	</div>
	&nbsp;&nbsp;
	<div class="row cl">
		<label class="form-label col-xs-3 col-sm-3">单元号：</label>
		<div class="formControls col-xs-8 col-sm-5">
			<input v-model="payUnitNum" type="text" class="input-text" >
		</div>
	</div>
	&nbsp;&nbsp;
	<div class="row cl">
		<label class="form-label col-xs-3 col-sm-3">门牌号：</label>
		<div class="formControls col-xs-8 col-sm-5">
			<input v-model="payHouseNum" type="text" class="input-text" >
		</div>
	</div>
	&nbsp;&nbsp;
	<div class="row cl">
		<label class="form-label col-xs-3 col-sm-3">缴纳金额：</label>
		<div class="formControls col-xs-8 col-sm-5">
			<input v-model="payMoney" type="text" class="input-text" >
			<!--<input v-model="adminEmail" type="text" class="input-text" >-->
		</div>
	</div>
	&nbsp;&nbsp;
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<button @click="ins" class="btn btn-primary radius" type="submit" >提交</button>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<button @click="Reset" class="btn btn-primary radius" type="buttton" >重置</button>
		</div>
	</div>
	</form>
</article>
</div>
<!--_footer 作为公共模版分离出去--> 
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="lib/jquery.validation/1.14.0/messages_zh.js"></script> 

<!--/请在上方写此页面业务相关的脚本-->
<script type="text/javascript">
	axios.defaults.withCredentials=true;
	var vue =new Vue({
			el:'#dd',     
			data:{
				payMoney:'',
				payName:'',
				payTel:'',
				payUnitNum:'',
				payBuildNum:'',
				payHouseNum:'',
				idCard:''
			},
			methods:{
				ins:function(){
					var self=this;
					var payMoneyReqBO={
					'payMoney':self.payMoney,
					'payName':self.payName,
					'payTel':self.payTel,
					'payUnitNum':self.payUnitNum+"单元",
					'payBuildNum':self.payBuildNum+"号楼",
					'payHouseNum':self.payHouseNum,
					'idCard':self.idCard
					};
					//					axios.get(web_server+"/payMoney",{params:{payMoneyReqBO:payMoneyReqBO}})
					axios.post("http://localhost:8080/wuye_war/wuye/payMoney",payMoneyReqBO)
					.then(function(result){
						
//						alert("进入回调函数");
//						alert("返回数据的rows是"+result.data.data.rows);
//						alert("进来了，是"+JSON.stringify(result));//不知道为什么json数据最外层有个data
//						alert("返回数据的rows是"+result.data.data.rows)
//						alert("返回数据的状态是"+result.status)
						if(result.status==200){
							layer.msg('缴费成功!',{icon:1,time:1000});
            			setTimeout(function() {
               				parent.location.href="money-list.html"//在父页面打开新页面
            					},800)
						}else{
							alert("出错了");
							console.log(result.message);
						}
						
					})
					.catch(function(error){
						alert("异常");
						console.log(error);
					})
				}
					,
					Reset:function(){
			this.payMoney="";
				this.payName="";
				this.payTel="";
				this.payUnitNum="";
				this.payBuildNum="";
				this.payHouseNum="";
				this.idCard="";
				}
//				,
//				
//				ss:function(){
//					var self=this;
//					var aa={
//					'payMoneyNum':self.payMoneyNum,
//					'payName':self.payName,
//					'payTel':self.payTel,
//					'payUnitNum':self.payUnitNum,
//					'payBuildNum':self.payBuildNum,
//					'payHouseNum':self.payHouseNum,
//					'idCard':self.idCard
//					};
//					axios.get(web_server+"/payMoney2",{params:{payMoneyReqBO:aa}})
////					axios.post("http://localhost:8080/wuye_war/wuye/payMoney",payMoneyReqBO)
//					.then(function(result){
//						alert("返回数据的rows是"+result.data.data.rows)
//						alert("进入回调函数");
//						alert("进来了，是"+JSON.stringify(result));//不知道为什么json数据最外层有个data
//						alert("返回数据的rows是"+result.data.data.rows)
//						if(result.status==200){
//							alert("缴费成功！");
////							parent.location.href="money-list.html"//在父页面打开新页面
//						}else{
//							alert("出错了");
//							console.log(result.message);
//						}
//						
//					})
//					.catch(function(error){
//						alert("异常");
//						console.log(error);
//					})
//				}
			}
		})
	
</script>
</body>

</html>